/* swal2-custom.css */
@import url( 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.swal2-popup {
    font-family: 'Inter', sans-serif !important;
    box-sizing: border-box !important;
    padding: 20px !important;
    border-radius: 8px !important;
    max-width: 100% !important;
    width: 90% !important;
    max-width: 500px !important;
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}
@media (min-width: 640px) {
    /* Mobile devices */
    .swal2-popup {
        width: 90% !important;
        max-width: 90% !important;
    }
}
@media (min-width: 768px) {
    /* Tablets */
    .swal2-popup {
        width: 80% !important;
        max-width: 80% !important;
    }
}
@media (min-width: 1024px) {
    /* Desktop */
    .swal2-popup {
        width: 50% !important;
        max-width: 600px !important;
    }
}

.swal2-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
